<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community_crawling.crawling.dao.CrawlingMapper">

	<resultMap id="crawlingData" type="com.community_crawling.crawling.vo.CrawlingDataVO">
		<result property="idx" column="idx"/>
		<result property="title" column="title"/>
		<result property="registrationDate" column="registration_date"/>
		<collection 
			property="fileList" 
			column="idx" 
			javaType="java.util.ArrayList" 
			ofType="com.community_crawling.crawling.vo.CrawlingFileVO" 
			select="selectCrawlingFileList"
		/>
	</resultMap>
	
	<resultMap id="crawlingFile" type="com.community_crawling.crawling.vo.CrawlingFileVO">
		<result property="idx" column="idx"/>
		<result property="path" column="path"/>
		<result property="registrationDate" column="registration_date"/>
		<result property="crwalingDataIdx" column="crwaling_data_idx"/>
	</resultMap>
	
	<insert id="insertCrawlingData" parameterType="com.community_crawling.crawling.vo.CrawlingDataVO" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO crwaling_data (
			idx,
			title,
			content,
			registration_date
		) VALUES (
			default,
			#{title},
			#{content},
			default
		)
	</insert>
	
	<insert id="insertCrawlingFile" parameterType="java.util.List">
		INSERT INTO crwaling_file(
			idx,
			path,
			registration_date,
			crwaling_data_idx
		)VALUES
		<foreach collection="list" item="item" separator=",">
		   (
				default,
				#{item.path},
				default,
				#{item.crwalingDataIdx}
			)
		</foreach>
	</insert>
	
	<select id="selectCrawlingDataList" resultMap="crawlingData">
		SELECT
			idx,
			title,
			content,
			registration_date
		FROM crwaling_data
	</select>
	
	<select id="selectCrawlingFileList" resultMap="crawlingFile">
		SELECT
			idx,
			path,
			registration_date,
			crwaling_data_idx
		FROM crwaling_file
		WHERE crwaling_data_idx = #{idx}
	</select>
</mapper>